@media (max-width: 992px) {
  .navbarlist {
    /* position: absolute;
    top: 65px;
    left: 0;
    width: 30%;
    height: 80vh;
    flex-direction: column;
    background: linear-gradient(rgba(253, 233, 233, 1), rgba(5, 5, 2, 4));
    justify-content: space-evenly; */
    position: absolute;
    top: 65px;
    left: 0;
    padding: 30px 40px;
    background: var(--bg-black);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    height: 80vh;
    /* box-shadow: var(--gray) 0 1 15px; */
    /* transform: translate(100%); */

    box-shadow: inset -7px 1px 228px 21px rgba(13, 12, 13, 1);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);

    -webkit-animation: scale-up-hor-right 0.4s
      cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: none;
  }

  .navbarlist a {
    color: var(--gray);
  }
  .navbarlist li {
    border: 1px solid var(--sky-blue);
    width: 50%;
    padding: 20px;
  }
  .navbarlist li:hover {
    border: 1px solid var(--gray);
    box-shadow: var(--gray) 0 0 5px;
  }
  .menu-label {
    display: flex;
    cursor: pointer;
    height: 20px;
    width: 25px;
    font-weight: 800;
  }
  .navbarlist a:hover {
    background-color: var(--bg-black);
    color: var(--white);
  }
  #toggle-menu:checked + .navbarlist {
    display: flex;
  }

  .hero-info h2 {
    background: none;
  }

  #contact {
    flex-direction: column;
    font-size: 20px;
  }
  .about-info {
    max-width: 90%;
    padding: 40px 20px;
  }
  .about-img-conteiner {
    display: none;
  }

  .products {
    gap: 40px;
  }

  .contact-info {
    gap: 20px;
  }
  .contact-info h2 {
    font-size: 40px;
  }
  .horus-day-week,
  .horus-day-weekend {
    display: flex;

    font-size: 20px;
  }
  .input-container {
    width: 90%;
  }
}

/* Celu */
@media (max-width: 763px) {
  .navbar {
    gap: 30px;
  }

  .hero-info h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    /* background: rgba(5, 5, 2, 1); */
    /* background: linear-gradient(rgba(253, 233, 233, 0), rgba(5, 5, 2, 4)); */

    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.2em;
    text-shadow: 3px 1px #a29e9e;
    color: rgb(255, 254, 254);
  }
  #cards h2 {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 3px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    transform: translate(0);
    padding: 16px 36px;
    background: transparent;
    overflow: hidden;
    text-align: center;
  }

  .card__products {
    gap: 20px;
    padding: 10px 20px;
    width: 200px;
  }
  .card__products img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    padding: 5px;
  }

  .card__products-btn {
    /* gap: 5px; */
  }
  .contact-form {
    width: 100%;
  }
  .contact-form--info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .contact-gps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  .contact-gps iframe {
    height: 400px;
    width: 400px;
  }
  .contact-form--info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .footer-horus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .footer-contact {
    flex-direction: row;
  }
  .footer-form--info {
    display: flex;
    flex-direction: row;
  }
  .footer-wsp,
  .footer-adress,
  .contact-horus,
  .footer-location {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 10px;
  }

  /* .contact-form--info {
    flex-direction: row;
    width: 100%;
  } */
}

@media (max-width: 576px) {
  .hero-info h2 {
    font-size: 2rem;
    /* letter-spacing: 2px; */
    text-shadow: none;
    color: rgb(255, 254, 254);
    font-weight: 900;
  }
  .hero-info h1 {
    margin-bottom: 99px;
  }
  #cards h2 {
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 3px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    transform: translate(0);
    padding: 16px 36px;
    background: transparent;
    overflow: hidden;
    text-align: center;
  }

  .contact-card {
    height: 100px;
    width: 400px;
  }
  #contact,
  .contact-form {
    width: 100%;
  }
  .contact-form--info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .input-container {
    width: 90%;
  }
  .hero-login {
    width: 300px;
  }
  .input-container {
    width: 90%;
    gap: 5px;
  }
}
@media (max-width: 438px) {
  .hero-info h2 {
    font-size: 2rem;
  }
  .about-info {
    max-width: 100%;
  }
  #cards h2 {
    font-size: 21px;
    padding: 10px 20px;
  }
  .contact-card {
    height: 100px;
    width: 300px;
  }

  .contact-card i {
    font-size: 30px;
  }
  .contac-card-link span {
    font-size: 16px;
  }
}
