:root {
  --bg-: #232946;
  --bg-black: rgba(7, 6, 6, 0.948);
  --white: #fffffe;
  --yeelow: #ffd803;
  --cid: #bae8e8;
  --gray: #f9f8fc;
  --sky-blue: #3bd9d9;
  --red: rgb(145, 7, 7);
  --bg-gray: rgba(81, 64, 64, 0.823);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*///////////////////////////////////////// header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 65px;
  padding: 5px 40px;
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: var(--gray) 0 0 5px;
}
header img {
  height: 100%;
}

header img,
a {
  height: 100%;
}

/*///////////////////////////////////////// navbar */

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  color: var(--white);
  /* margin-right: 100px; */
}

.navbarlist {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.05rem;
  font-weight: 600;
  width: 100%;
  gap: 20px;
  z-index: 2;
}

.navbarlist a {
  list-style-type: none;
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}
.navbar i {
  font-size: 20px;
  font-weight: 800;
}
.navbarlist a:hover {
  border-color: 1px solid var(--sky-blue);
  background-color: var(--white);
  border-radius: 5px;
  color: var(--bg-black);
  padding: 10px;
  font-weight: 800;
  /* box-shadow: var(--gray) 0 0 5px; */
}
/* hover nabvar */
/* .navbarlist li {
  position: relative;
  padding: 0;
}

.navbarlist li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--sky-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-in;
}

.navbarlist li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
} */
/*///////////////////////////////////////// Carrito */

.cart-shopping {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 30px 40px;
  background: var(--bg-black);
  border-left: 1px solid var(--sky-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  height: calc(100vh - 65px);

  overflow-y: scroll;

  box-shadow: var(--sky-blue) 0 0 15px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/* header carrito */
.cart-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cart-header h2 {
  border-bottom: 2px solid var(--yeelow);
}
.cart-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
/* body carrito */
.cart-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 200px;
  border: 2px solid var(--sky-blue);
  border-radius: 5px;
  padding: 20px 10px 0 10px;
  flex-wrap: wrap;
}
.cart__body-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.cart-body-compra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cart-body-eliminar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-body img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cart__body-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  height: 100%;
}
.cart__body-subtotal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-body-eliminar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2px;
}
.cart-body-eliminar button {
  background-color: var(--red);
  color: #fffffe;
  font-weight: 800;
  padding: 5px;
  border-radius: 10px;
}

.cart-body-eliminar button:hover {
  box-shadow: var(--red) 0 0 15px;
}
.cart__body-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.body-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 800;
  /* background-color: var(--white); */
  border: 1px solid var(--yeelow);
}

.down:hover,
.up:hover {
  font-size: 16px;
  font-weight: 800;
  box-shadow: var(--yeelow) 0 0 15px;
  background-color: var(--yeelow);
  color: var(--bg-black);
}

/* footer carrito */
.cart-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.cart-footer-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart-footer-add {
  background: var(--cid);
  border: none;
  padding: 10px 35px;
  color: var(--bg-black);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}
.cart-footer-add:hover {
  background-color: var(--sky-blue);
  box-shadow: var(--sky-blue) 0 0 15px;
}

/* hover carrito */
.navbar i:hover {
  color: var(--sky-blue);
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart-shopping::-webkit-scrollbar {
  display: none;
}

#cart-toggle:checked + .cart-shopping {
  display: flex;
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 01 0.35, 0.99);
}

/* OCULTAR CARRITO Y MENU HAMBURGUESA */
#cart-toggle,
#toggle-menu,
.menu-label,
.cart-shopping {
  display: none;
}

/*///////////////////////////////////////// main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-black);
  color: var(--white);
  width: 100%;
  background-color: #040305;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%233edaf6' fill-opacity='0.11'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/*///////////////////////////////////////// hero */

#hero {
  /* imagen de fondo */
  background-image: url(../imagenes/Los-mejores-tipos-de-carnes-y-cortes-para-un-asado.jpg);

  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* #hero::after {
  content: "LLEVE CALIDAD A SU MESA";
  font-size: 80px;
  font-weight: 800;
  background-color: #000000a6;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: start center;
  margin-top: 65px;
  color: var(--gray);
} */
/* #hero::before {
  content: "CARNICERIA IGNACIO";
  color: var(--gray);

  font-size: 80px;
  font-weight: 800;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: start center;
  place-items: end center;
} */

/* efecto de imagen */
#hero::before {
  content: "";
  position: absolute;

  margin-top: 100px;
  width: 100%;
  height: 100vh;
  bottom: 0;

  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 5));
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: var(--gray);
  font-weight: 800;
  font-family: "Radley", Georgia, "Times New Roman", serif;
  letter-spacing: 5px;
  filter: no;
}
.hero-info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  /* background: rgba(5, 5, 2, 1); */
  /* background: linear-gradient(rgba(253, 233, 233, 0), rgba(5, 5, 2, 4)); */
  /* z-index: 1; */
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 1.2em;
  text-shadow: 3px 1px #a29e9e;
  color: rgb(255, 254, 254);
}

.hero-info h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  font-style: italic;
  font-size: 2rem;
  z-index: 0;
}

/*///////////////////////////////////////// about */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  gap: 20px;
  max-width: 50%;
  text-align: center;
}
.about-info h2 {
  text-shadow: 1px, 2px, #a29e9e;
  justify-content: end;
}
.about-img-conteiner {
  position: relative;
  width: 50%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height: auto;
  transition: all 1s ease-out;
}
.capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
.capa h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 30px;
  /* font-size: 20px; */
}

.capa img {
  /* border: 5px inset gray;
  border-radius: 50%;
  padding: 10px; */
}

.about-img-conteiner:hover > .capa {
  opacity: 1;
  visibility: visible;
}
/*///////////////////////////////////////// cards */

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

#cards h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 10px;
  border: 2px solid var(--gray);
  border-radius: 10px;
  transform: translate(0);
  padding: 16px 36px;
  background: transparent;
  overflow: hidden;
  text-align: center;
}

#cards h2::before {
  content: "";
  position: absolute;
  background: var(--sky-blue);
  transform: rotate(-16deg);
  filter: blur(6px);
  width: 8px;
  top: 0;
  bottom: 0;
  left: -30px;
}

#cards h2:hover::before {
  left: calc(100% + 32px);
  transition: 0.75s;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  padding: 20px 20px;
  transition: all 0.3s linear;
}
.products img:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.card__products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
  width: 250px;
  border-radius: 15px;
  background: var(--bg-);
  /* background: linear-gradient(to bottom, var(--gray), #121e3c); */
  box-shadow: var(--gray) 0 0 15px;
}
.card__products img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  padding: 5px;
}
.card__products-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.card__products-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--gray);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  width: 80%;
  margin-bottom: 5px;
}

.card__products-btn a {
  list-style: none;
  text-decoration: none;
  color: var(--bg-black);
  font-size: 16px;
}
.card__products-btn i {
  color: var(--bg-black);
  font-size: 16px;
}

.card__products-btn:hover {
  background: var(--sky-blue);
  box-shadow: var(--sky-blue) 0 0 15px;
}

/*/////////////////////////////////////////  contact */

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  max-width: 90%;
  width: 100%;
  font-size: 25px;
  gap: 50px;
  margin: 50px 0;
}
.contact-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.contact-card {
  height: 100px;
  width: 500px;
  padding: 5px 10px;
  border: 5px inset gray;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: var(--bg-gray) 0px 5px 15px;
  transition: all 0.3s ease-out;
}
.contact-card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-out;
}

.contact-card i {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contac-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
}
.contac-card-link a {
  text-decoration: none;
  list-style: none;
  color: #a29e9e;
  font-size: 16px;
  transition: all ease-out;
}
.contac-card-link a:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-out;
  color: rgb(223, 7, 7);
  border-bottom: 1px dashed red;
}
.contact--iframe {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact--iframe:hover {
  box-shadow: var(--gray) 0 0 5px;
}
/*///////////////////////////////////////// footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 20px 40px;
  width: 100%;
  gap: 30px;
  box-shadow: var(--gray) 0 0 5px;
  color: var(--gray);
}

.footer-horus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.horus-day {
  display: flex;

  gap: 20px;
}
.footer-wsp,
.footer-adress,
.contact-horus,
.footer-location {
  display: flex;
  text-align: center;
  width: 100%;
  gap: 20px;
}
.horus-day-week,
.horus-day-weekend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
  align-items: end;
  width: 100%;
  border-top: 1px solid var(--gray);
  padding-top: 10px;
}

footer img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.footer-form--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

/*********************************  login ***************************/
.main-login {
  background-image: url(../imagenes/vacas-campo-bg.webp);
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.hero-login {
  width: 400px;
  height: 400px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-black);
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 25px 25px var(--bg-black);
  -webkit-animation: scale-up-ver-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  font-family: "Cinzel", serif;
  gap: 30px;
  height: 100%;
}
.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.login-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-footer a {
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  padding: 5px;
  font-weight: 900;
}
.login-footer a:hover {
  border-color: 1px solid var(--sky-blue);
  background-color: var(--white);
  border-radius: 5px;
  color: var(--bg-black);
  box-shadow: var(--gray) 0 0 5px;
}
.header-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.header-redirect a {
  width: 50%;
  border-left: 2px solid var(--gray);
  border-top: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
  padding: 5px;
}
.header-redirect a:hover {
  background-color: var(--gray);
}
.footer-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  text-align: center;
  padding: 20px 40px;
  width: 100%;
  gap: 30px;
  box-shadow: var(--gray) 0 0 5px;
  color: var(--gray);
}
.login-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-dni,
.login-passw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login-dni input,
.login-passw input {
  padding: 5px;
  border: 2px solid var(--sky-blue);
  background: rgb(0, 0, 0, 0);
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
  color: var(--gray);
}

/*********************************  contact ***************************/

.Contac-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Cinzel", serif;
  gap: 30px;
  height: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.contact-form--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.contact-form button,
.contact-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 5px;
  list-style: none;
  text-decoration: none;
  color: var(--bg-black);
}
.contact-form button:hover,
.contact-form a:hover {
  background: var(--sky-blue);
  box-shadow: var(--sky-blue) 0 0 15px;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.input-container input {
  padding: 5px;
  border: 2px solid var(--sky-blue);
  background: rgb(0, 0, 0, 0);
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.3s;
  color: var(--gray);
  width: 50%;
}
.input-container label {
  font-size: 20px;
  font-weight: 900;
}

.input-container input::placeholder {
  font-size: 12px;
  transition: 0.3s;
  color: var(--gray);
  text-align: center;
}
.input-container input:focus::placeholder {
  opacity: 1;
}
form {
  display: flex;
  display: flex;

  align-items: center;
}
